.App {
  text-align: center;
  background-color: whitesmoke;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  text-align: center;
}

.home-bio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Satisfy", cursive;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* The typing effect */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}


.right-side a {
  margin: 10px;
}
