.App {
  text-align: center;
  background-color: whitesmoke;
  height: 100px;
  margin: 0;
}

.App-logo {
  height: 40vmin;
}
body {
  background-color: whitesmoke;
}
.App-header {
  /* background-color: whitesmoke; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  text-align: center;
}

.home-bio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* The typing effect */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.right-side a {
  margin: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
}

/* links, not final yet */
.left-side,
.right-side {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.left-side:hover,
.right-side:hover {
  color: #ffffff !important;
  background: #3b3019;
  transition: all 0.4s ease 0s;
}

/* about me section */
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  float: left;
  padding: 15px;
}

.about-right {
  float: right;
  margin: 0 auto;
  padding: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
}
