.App {
  text-align: center;
  background-color: whitesmoke;
  height: 100px;
  margin: 0;
}

.App-logo {
  height: 40vmin;
}
body {
  background-color: whitesmoke;
}
.App-header {
  /* background-color: whitesmoke; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
  text-align: center;
}

.home-bio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Satisfy", cursive;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* The typing effect */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* nav bar*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  cursor: pointer;
  text-decoration: none !important;
  /* background: #fbe4ff; */
}

nav a {
  margin: 10px;
  text-decoration: NONE;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

/* links, not final yet */
.left-side,
/* .about-me,
.projects { */
.right-side a {
  letter-spacing: 0;
}

.left-side:hover,
.left-side:active,
.right-side a:hover,
.right-side a:active {
  /* .about-me:hover,
.about-me:active,
.projects:hover,
.projects:active { */
  letter-spacing: 5px;
}

/* top border */
.left-side:after,
.left-side:before,
/* .about-me:after,
.about-me:before,
.projects:after,
.projects:before */
.right-side a:after,
.right-side a:before {
  backface-visibility: hidden;
  border: 1px solid lightslategrey;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

/* bottom border */
.left-side:hover:after,
.left-side:hover:before,
/* .about-me:hover:after,
.about-me:hover:before,
.projects:hover:after,
.projects:hover:after { */
.right-side a:hover:after,
.right-side a:hover:before {
  backface-visibility: hidden;
  border-color: lightslategrey;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.about-me:hover:before,
/* .about-me:hover:before,
.projects:hover:before,
.projects:hover:before { */
.right-side a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* about section */
.about {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */

  display: flex;
  justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: url("https://gph.is/2Ob1INx");
}

.about-left {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  float: left;
  padding: 15px;
  text-decoration: underline;
}

.about-right {
  float: right;
  margin: 0 auto;
  padding: 15px;
}

/* projects */

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
}

/* h1 {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  float: left;
  padding: 15px;
}

.projects p {
  float: right;
  margin: 0 auto;
  padding: 15px;
} */

/* contact section*/

.icons {
  width: 100%;
  min-height: 50vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: black;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}

/* footer section, fixed position*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
}
